version: "3"

volumes:
    web_static:
    db_data:

networks:
  private:
    driver: bridge

services:
    nginx:
        image: nginx:latest
        container_name: nginx
        hostname: nginx
        ports:
         - {{ NGINX_PORT }}:8000
        volumes:
         - web_static:/mnt/web_static
        networks:
         - private
        depends_on:
         - web
         - db

    db:
        image: postgres:latest
        container_name: db
        hostname: db
        environment:
          POSTGRES_HOST_AUTH_METHOD: trust
        volumes:
         - db_data:/var/lib/postgresql/data/
        networks:
         - private

    web:
        image: {{ IMAGE_NAME }} 
        container_name: web
        hostname: web
        expose:
         - "8000"
        volumes:
          - web_static:/app
        networks:
         - private
        depends_on:
         - db
        command: gunicorn wsgi:application --bind 0.0.0.0:8000
  